---
import Link from '@/components/ui/link.astro'
---

<div class="flex flex-col items-center md:flex-row md:justify-between">
  <div class="flex flex-col space-y-4 md:space-y-8 lg:w-3/4 lg:pr-8">
    <h1>Elise Bayraktar</h1>
    <p>I am currently a postdoctoral researcher at Sorbonne Université, working with Charlotte Dion-Blanc.</p>
    <p>
      I previously did my PhD at Université Gustave Eiffel under the supervision of Emmanuelle Clément on the "High-frequency estimation of the stable
      CIR model" [<Link href="https://theses.hal.science/tel-05517419">Hal</Link>], which I defended in July 2025. I was awarded the prize <Link
        href="https://www.sfds.asso.fr/fr/prix_et_bourses/544-le_prix_marie_jeanne_laurent_duhamel/">Marie-Jeanne Laurent-Duhamel</Link
      > 2026.
    </p>
  </div>
  <img
    alt="Elise Bayraktar"
    class="mt-5 aspect-square w-3/4 rounded-full border-2 border-primary object-cover lg:mt-0 lg:w-1/4"
    decoding="async"
    fetchpriority="high"
    height="800"
    src="/images/profile-picture.webp"
    width="800"
  />
</div>
