---
import Cambridge from '@/components/icons/cambridge.astro'
import CentraleSupelec from '@/components/icons/centrale-suplec.astro'
---

<div class="flex w-full flex-col justify-center gap-8 md:flex-row">
  <div class="flex items-center space-x-7">
    <Cambridge class="fill-base-content w-20" />
    <div class="flex w-9/10 flex-col">
      <h3>University of Cambridge</h3>
      <div>Master of Advanced Study in Mathematics - Part III</div>
      <div>Part III Essay: Activated Random Walks</div>
      <div class="text-sm text-muted-foreground">2020 - 2021</div>
    </div>
  </div>
  <div class="flex items-center space-x-7">
    <CentraleSupelec class="w-20" />
    <div class="flex w-9/10 flex-col">
      <h3>CentraleSupélec</h3>
      <div>Master of Science in Engineering</div>
      <div>Grande École d'ingénieur</div>
      <div class="text-sm text-muted-foreground">2018 - 2021</div>
    </div>
  </div>
</div>
