---
import { cn } from "@/lib/utils";

interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
    class?: string;
}

const { class: className, ...rest } = Astro.props;
---

<a class={cn("text-primary rounded-sm underline-offset-4 outline-none hover:underline", className)} {...rest}>
    <slot />
</a>
